# Ignore VS code files
*.code-workspace
/.vscode
.history/

# Ignore Python Files
*.env
*.pyc

# Keep Certain Files Local
*DOC_NO_UP* 
py_tests/motors/*/*.txt
py_tests/motors/Text Files/Aden_Project.txt

# Ignore old python files
archive

# Ignore catkin files
devel
build

# Ignore documentation files to be built locally
Generated


# Ignore the IGNORE tag
#*IGNORE*

# ignore ros2 files
build/
install/
log/

# yasmin ignore 
src/yasmin/

# python ignores 
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env


#ignore image folders
/TestImages
/output_images/*
!output_images/**/*.md
!output_images/**/
